.vscode/
build/
classes/
node_modules/
log.txt
res/*.json
*.jar
!sdk/proguard.jar
!sdk/jdk*/**/*.jar
!lib/*.jar
!sdk/lib/*.jar
!tools/**/*.jar
lib/*/
*.jad
*.map
!mapping.map
*.apk

# JDK's own source archive - not needed to build/run, just saves ~52MB
sdk/jdk*/src.zip

# pubtran-j2me
_to_delete/
ota/uploads/
ota/*.dll
